# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker container volume
data/

# Env
.env.local
.env.*.local

# Database
backend/prisma/library.db
backend/prisma/library.db-journal

# SvelteKit
frontend/.svelte-kit/
frontend/build/

# IDE
.vscode/
.idea/
.claude/
frontend/src/routes/background.png
