@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/noto-sans-jp-v55-japanese_latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/noto-sans-jp-v55-japanese_latin-500.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/noto-sans-jp-v55-japanese_latin-600.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/noto-serif-jp-v32-japanese_latin-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/noto-serif-jp-v32-japanese_latin-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/noto-serif-jp-v32-japanese_latin-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Han Serif JP';
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url('/fonts/SourceHanSerif-VF.otf.woff2') format('woff2');
}


@import 'tailwindcss';
@variant hover-none (@media (hover: none));
@variant hover-hover (@media (hover: hover));

@plugin "@tailwindcss/forms";
